<div class="login-container">
  <app-header rootClassName="header-root-class-name"></app-header>
  <link rel="stylesheet" type="text/css" href="login.component.css" media=”screen” />
  <div class="login-container1">
    <h1 class="login-text">create a new account</h1>
    <div class="login-container2">
      <div class="login-container3">
        <span class="login-text1">first name</span>
        <span class="login-text2">last name</span>
        <span class="login-text3">matriculation number</span>
        <span class="login-text4">email</span>
      </div>
      <div class="login-container4">
        <input
          type="text"
          placeholder="placeholder"
          class="login-textinput input"
        />
        <input
          type="text"
          placeholder="placeholder"
          class="login-textinput1 input"
        />
        <input
          type="text"
          placeholder="placeholder"
          class="login-textinput2 input"
        />
        <input
          type="text"
          placeholder="placeholder"
          class="login-textinput3 input"
        />
      </div>
    </div>
    <button class="login-button button">
      <span>
        <span>submit</span>
        <br />
      </span>
    </button>
  </div>
</div>
